{{ define "content"}}
<div class="res-cons">
    {{ partial "toc" . }}
    <article class="post">
        <header class="article-info clearfix">
            <h1>{{ .Title }}</h1>
            <div>
                {{ if .Site.Params.busuanzi }}
                <p class="post-reads">
                    <span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span><span>阅读</span></span>
                </p>
                {{ end }}
                <p class="post-time">发表于：{{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日</p>
            </div>
        </header>
        {{ if .Params.toc }}
        <div class="clear" style="display: none">
            <div class="toc-article">
                <div class="toc-title">文章目录</div>
            </div>
        </div>
        {{ end }}
        <div class="post-content">
            {{ .Content }}
        </div>

        {{ partial "copyright" .}}

        <div class="post-meta meta-tags border-top">
            {{ if and (isset .Params "tags") .Params.tags }}
            <ul class="clearfix">
                {{ range .Params.Tags }}
                <li><a href='{{ "/tags/" | absLangURL }}{{ . | urlize }}'>{{ . }}</a></li>
                {{ end }}
            </ul>
            {{ else }}
            
            {{ end }}
        </div>

        {{ partial "related" . }}
    </article>
    {{ partial "comments" . }}
</div>
{{ end }}