{{ define "content"}}
<div class="res-cons">
    {{ if eq .Data.Singular "category" }}
    <h3 class="archive-title">
        分类
        <span class="keyword">{{ .Data.Term }}</span>
        中的文章
    </h3>
    {{ else if eq .Data.Singular "tag" }}
    <h3 class="archive-title">
        包含标签
        <span class="keyword">{{ .Data.Term }}</span>
        的文章
    </h3>
    {{ end }}

    {{ range $index,$data := .Paginator.Pages }}
    <article class="post-expand post">
        <header class="article-info clearfix">
            <h1>
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <p class="post-time">发表于：{{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日</p>
        </header>
        <div class="post-content">
            <p>{{ .Summary }}……<br/></p>
            <p class="readmore"><a href="{{ .Permalink }}">阅读全文</a></p>
        </div>
        <footer class="article-footer clearfix">
            <div class="article-catetags">
                <div class="article-categories">
                    <span class="awesome-icon-category"></span>
                    {{ with .Params.Categories }}
                    <div class="post-meta">
                        {{ range . }}
                        <span class="meta-category"><a href='{{ "/categories/" | absLangURL }}{{ . | urlize }}'>{{ . }}</a></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="article-tags">
                    <span class="awesome-icon-tag"></span>
                    {{ with .Params.Tags }}
                    <div class="post-meta">
                        {{ range . }}
                        <span class="meta-category"></span><a href='{{ "/tags/" | absLangURL }}{{ . | urlize }}'>{{ . }}</a></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </footer>
    </article>
    {{ end }}

    {{ partial "paginator" . }}
</div>
{{ end }}